*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#fbda61,#ff5aff);
}
.contain{
    position: relative;
    width: 350px;    
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    border-radius: 15px;
}
.contain:hover{
    height: 190px;
}
.imgBox{
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.contain:hover .imgBox{
    width: 250px;
    height: 250px;
}
.imgBox img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contain .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}
.contain .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.contain .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.contain .content .details .sosialmedia a {
    text-decoration: none;
    padding: 20px;
    font-size: 1.25em;
    
}
.contain .content .details .sosialmedia a i {
    background-color: #555;
    padding: 10px;
    margin-top: 10px;
}
